<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</head>

<body>
    <main>

        <!-- Header -->
        <section class="header">
            <!-- Header -->
            <header class="header_full">
                <!-- Topo -->
                <div class="header_top">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <span class="header_top__message">Compre conosco seus ingressos e produtos da
                                    bombonierre de forma segura, rápida e prática!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <!-- Meio -->
                <div class="header_middle">
                    <div class="container">
                        <div class="row">
                            <div class="header_middle__container col-12">
                                <!-- Logo -->
                                <div class="col-3">
                                    <div class="header_middle__logo">
                                        <img src="../src/imagens/logo.png" alt="" class="logo">
                                    </div>
                                </div>
                                <!--  -->
                                <!-- Itens MENU -->
                                <div class="col-6">
                                    <nav class="header_middle__nav">
                                        <ul class="header_middle__list">
                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Home</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Bomboniere</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Ingressos</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Em Cartaz</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Em Breve</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Fale Conosco</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!--  -->
                                <!-- Conta/Carrinho -->
                                <div class="col-3">
                                    <div class="header_middle_info">
                                        <!-- Minha Conta -->
                                        <a href="#" class="header_account">
                                            <div class="account_icon__wrapper">
                                                <i class="account_icon">
                                                    <?xml version="1.0" ?><svg data-name="Layer 1" width="25px"
                                                        id="Layer_1" viewBox="0 0 64 64"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                            <style>
                                                                .cls-1 {
                                                                    fill: none;
                                                                    stroke: #078cd6;
                                                                    stroke-linecap: round;
                                                                    stroke-linejoin: round;
                                                                    stroke-width: 2px;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <title />
                                                        <path class="cls-1"
                                                            d="M38.3,24.44C38.3,27.92,35.48,34,32,34s-6.3-6.07-6.3-9.55a6.3,6.3,0,0,1,12.59,0Z" />
                                                        <path class="cls-1" d="M19,51.7a13,13,0,0,1,26,0" />
                                                        <circle class="cls-1" cx="32" cy="32" r="24" />
                                                    </svg>
                                                </i>
                                            </div>
                                            <span class="account_title">
                                                Minha Conta      
                                            </span>
                                         
                                                <?xml version="1.0" ?>
                                                <!DOCTYPE svg
                                                    PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                                                <svg enable-background="new 0 0 32 32" height="20px" width="20px"
                                                    id="Слой_1" version="1.1" viewBox="0 0 32 32" width="32px"
                                                    xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <path clip-rule="evenodd"
                                                        d="M27,11.106c0-0.564-0.489-1.01-1.044-0.995  H6.013c-0.887-0.024-1.38,1.07-0.742,1.702l9.999,9.9c0.394,0.39,1.031,0.376,1.429,0l9.991-9.892C26.879,11.64,27,11.388,27,11.106  z M15.984,19.591L8.418,12.1H23.55L15.984,19.591z"
                                                        fill="#ab6454" fill-rule="evenodd" id="Arrow_Drop_Down" />
                                                    <g />
                                                    <g />
                                                    <g />
                                                    <g />
                                                    <g />
                                                    <g />
                                                </svg>
                                       
                                        </a>
                                        <!--  -->
                                        <!-- Carrinho -->
                                        <a href="#" class="header_cart">
                                            <div class="cart_icon__wrapper">
                                                <i class="cart_icon">
                                                    <?xml version="1.0" ?><svg width="25px"
                                                        enable-background="new 0 0 128 128" id="Layer_1" fill="none"
                                                        version="1.1" viewBox="0 0 128 128" xml:space="preserve"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <circle cx="89" cy="101" fill="white" r="8" stroke="white"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-miterlimit="10" stroke-width="4" />
                                                        <circle cx="49" cy="101" fill="white" r="8" stroke="white"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-miterlimit="10" stroke-width="4" />
                                                        <path
                                                            d="  M29,33h83.0800705c2.8071136,0,4.7410736,2.8159065,3.7333832,5.4359169L99.8765564,79.8718338  C98.6882782,82.9613724,95.7199707,85,92.4097977,85H45.6081238c-3.8357391,0-7.1316795-2.722496-7.8560524-6.4892197L29,33z"
                                                            stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-miterlimit="10"
                                                            stroke-width="4" />
                                                        <path
                                                            d="  M28.9455147,33.0107765l-1.5162468-7.5799599C26.6812878,21.6915436,23.3980236,19,19.5846729,19h-7.2409086"
                                                            fill="white" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-miterlimit="10"
                                                            stroke-width="4" />
                                                        <line fill="white" strokestroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-miterlimit="10"
                                                            stroke-width="4" x1="89.9039841" x2="92.9041901" y1="45"
                                                            y2="45" />
                                                        <line fill="white" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-miterlimit="10"
                                                            stroke-width="4" x1="32" x2="80.9041901" y1="45" y2="45" />
                                                    </svg>
                                                </i>
                                                <i class="cart_icon__seal">
                                                    <span class="cart_icon_number">10</span>
                                                </i>
                                            </div>
                                        </a>
                                        <!--  -->
                                    </div>
                                </div>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </header>
            <!-- Fim Header -->
        </section>
        <!-- Fim Header -->

        <section class="register">
            <div class="container">
                <div class="row">
                    <div class="register_container">
                        <form class="register_form">
                            <h3 class="register_title">Faça o seu cadastro!</h3>

                            <div class="label-float">
                                <input type="text" placeholder=" " required/>
                                <label>Usuário</label>
                            </div>

                            <div class="label-float">
                                <input type="tel" placeholder=" " required/>
                                <label>Telefone</label>
                            </div>

                            <div class="label-float">
                                <input type="email" placeholder=" " required/>
                                <label>E-mail</label>
                            </div>

                            <div class="label-float">
                                <input type="password" placeholder=" " required/>
                                <label>Senha</label>
                            </div>

                            <input type="submit" class="label_button"value="ENVIAR">

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer_wrapper">
                        <span class="footer_text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, placeat dolorum rerum expedita error ex vero ipsa perferendis repellat unde consequuntur cupiditate qui omnis maiores aut consectetur beatae in magnam.
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Fim Footer -->

    </main>
</body>

</html>