<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</head>

<body>
    <main>
        <!-- Header -->
        <section class="header">
            <!-- Header -->
            <header class="header_full">
                <!-- Topo -->
                <div class="header_top">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <span class="header_top__message">Compre conosco seus ingressos e produtos da
                                    bombonierre de forma segura, rápida e prática!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <!-- Meio -->
                <div class="header_middle">
                    <div class="container">
                        <div class="row">
                            <div class="header_middle__container col-12">
                                <!-- Logo -->
                                <div class="col-3">
                                    <div class="header_middle__logo">
                                        <img src="../src/imagens/logo.png" alt="" class="logo">
                                    </div>
                                </div>
                                <!--  -->
                                <!-- Itens MENU -->
                                <div class="col-6">
                                    <nav class="header_middle__nav">
                                        <ul class="header_middle__list">
                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Home</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Bomboniere</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Ingressos</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Em Cartaz</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Em Breve</a>
                                            </li>

                                            <li class="header_middle__item">
                                                <a href="" class="header_middle__item-link">Fale Conosco</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!--  -->
                                <!-- Conta/Carrinho -->
                                <div class="col-3">
                                    <div class="header_middle_info">
                                        <!-- Minha Conta -->
                                        <a href="#" class="header_account">
                                            <div class="account_icon__wrapper">
                                                <i class="account_icon">
                                                    <?xml version="1.0" ?><svg data-name="Layer 1" width="25px"
                                                        id="Layer_1" viewBox="0 0 64 64"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                            <style>
                                                                .cls-1 {
                                                                    fill: none;
                                                                    stroke: #078cd6;
                                                                    stroke-linecap: round;
                                                                    stroke-linejoin: round;
                                                                    stroke-width: 2px;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <title />
                                                        <path class="cls-1"
                                                            d="M38.3,24.44C38.3,27.92,35.48,34,32,34s-6.3-6.07-6.3-9.55a6.3,6.3,0,0,1,12.59,0Z" />
                                                        <path class="cls-1" d="M19,51.7a13,13,0,0,1,26,0" />
                                                        <circle class="cls-1" cx="32" cy="32" r="24" />
                                                    </svg>
                                                </i>
                                            </div>
                                            <span class="account_title">
                                                Minha Conta      
                                            </span>
                                         
                                                <?xml version="1.0" ?>
                                                <!DOCTYPE svg
                                                    PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                                                <svg enable-background="new 0 0 32 32" height="20px" width="20px"
                                                    id="Слой_1" version="1.1" viewBox="0 0 32 32" width="32px"
                                                    xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <path clip-rule="evenodd"
                                                        d="M27,11.106c0-0.564-0.489-1.01-1.044-0.995  H6.013c-0.887-0.024-1.38,1.07-0.742,1.702l9.999,9.9c0.394,0.39,1.031,0.376,1.429,0l9.991-9.892C26.879,11.64,27,11.388,27,11.106  z M15.984,19.591L8.418,12.1H23.55L15.984,19.591z"
                                                        fill="#ab6454" fill-rule="evenodd" id="Arrow_Drop_Down" />
                                                    <g />
                                                    <g />
                                                    <g />
                                                    <g />
                                                    <g />
                                                    <g />
                                                </svg>
                                       
                                        </a>
                                        <!--  -->
                                        <!-- Carrinho -->
                                        <a href="#" class="header_cart">
                                            <div class="cart_icon__wrapper">
                                                <i class="cart_icon">
                                                    <?xml version="1.0" ?><svg width="25px"
                                                        enable-background="new 0 0 128 128" id="Layer_1" fill="none"
                                                        version="1.1" viewBox="0 0 128 128" xml:space="preserve"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <circle cx="89" cy="101" fill="white" r="8" stroke="white"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-miterlimit="10" stroke-width="4" />
                                                        <circle cx="49" cy="101" fill="white" r="8" stroke="white"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-miterlimit="10" stroke-width="4" />
                                                        <path
                                                            d="  M29,33h83.0800705c2.8071136,0,4.7410736,2.8159065,3.7333832,5.4359169L99.8765564,79.8718338  C98.6882782,82.9613724,95.7199707,85,92.4097977,85H45.6081238c-3.8357391,0-7.1316795-2.722496-7.8560524-6.4892197L29,33z"
                                                            stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-miterlimit="10"
                                                            stroke-width="4" />
                                                        <path
                                                            d="  M28.9455147,33.0107765l-1.5162468-7.5799599C26.6812878,21.6915436,23.3980236,19,19.5846729,19h-7.2409086"
                                                            fill="white" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-miterlimit="10"
                                                            stroke-width="4" />
                                                        <line fill="white" strokestroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-miterlimit="10"
                                                            stroke-width="4" x1="89.9039841" x2="92.9041901" y1="45"
                                                            y2="45" />
                                                        <line fill="white" stroke="white" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-miterlimit="10"
                                                            stroke-width="4" x1="32" x2="80.9041901" y1="45" y2="45" />
                                                    </svg>
                                                </i>
                                                <i class="cart_icon__seal">
                                                    <span class="cart_icon_number">10</span>
                                                </i>
                                            </div>
                                        </a>
                                        <!--  -->
                                    </div>
                                </div>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </header>
            <!-- Fim Header -->
        </section>
        <!-- Fim Header -->

        <!-- Filmes em Cartaz -->
        <section class="films">
            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <div class="films_top">
                            <div class="films_all">
                                <span class="films_all__title">Filmes em Cartaz</span>
                                <div class="films_all__text-container">
                                    <span class="films_all__text">Ver todos
                                        <i class="films_all_icon">
                                            <!DOCTYPE svg
                                                PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'>
                                            <svg width="16x" height="16px" version="1.0" viewBox="0 0 512 512"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g transform="translate(0 512) scale(.1 -.1)">
                                                    <path fill="white"
                                                        d="m2321 5110c-497-48-990-251-1376-565-114-92-294-274-384-387-229-287-417-675-495-1023-49-218-60-325-60-575s11-357 60-575c79-355 272-749 509-1040 92-114 274-294 387-384 287-229 675-417 1023-495 218-49 325-60 575-60s357 11 575 60c261 58 603 204 828 353 389 259 688 599 893 1016 125 255 196 484 241 775 24 161 24 539 0 700-45 291-116 520-241 775-134 272-283 480-498 692-211 209-404 346-673 478-252 124-486 197-765 240-126 19-468 27-599 15zm474-430c656-74 1243-450 1591-1020 275-452 369-998 263-1530-113-567-480-1085-989-1396-452-275-998-369-1530-263-567 113-1085 480-1396 989-156 258-260 562-294 865-22 200-10 457 31 665 113 567 480 1085 989 1396 251 153 562 260 850 293 107 12 379 13 485 1z" />
                                                    <path fill="white"
                                                        d="m2045 3816c-27-13-58-32-67-42-29-33-58-107-58-149 0-86 17-106 508-597l467-468-467-467c-491-492-508-512-508-598 0-42 29-116 58-149 26-30 113-66 157-66 87 1 102 13 668 578 296 295 553 557 570 582 29 41 32 52 32 120s-3 79-32 120c-17 25-274 287-570 582-566 565-581 577-668 578-22 0-62-11-90-24z" />
                                                </g>
                                            </svg>
                                        </i>
                                    </span>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="films_container">
                        <ul class="films_list">

                            <li class="films_item">
                                <div class="films_image">
                                    <img src="../src/imagens/filme_1.png" alt="">
                                </div>
                                <div class="films_name__container">
                                    <span class="films_name">Harry Potter</span>
                                </div>
                            </li>

                            <li class="films_item">
                                <div class="films_image">
                                    <img src="../src/imagens/filme_2.png" alt="">
                                </div>
                                <div class="films_name__container">
                                    <span class="films_name">Encanto</span>
                                </div>
                            </li>

                            <li class="films_item">
                                <div class="films_image">
                                    <img src="../src/imagens/filme_3.png" a0lt="">
                                </div>
                                <div class="films_name__container">
                                    <span class="films_name">Homem Aranha</span>
                                </div>
                            </li>

                            <li class="films_item">
                                <div class="films_image">
                                    <img src="../src/imagens/filme-4.png" alt="">
                                </div>
                                <div class="films_name__container">
                                    <span class="films_name">Turma da Mônica</span>
                                </div>
                            </li>

                            <li class="films_item">
                                <div class="films_image">
                                    <img src="../src/imagens/filmes_5.png" alt="">
                                </div>
                                <div class="films_name__container">
                                    <span class="films_name">Juntos e Enrolados</span>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </section>
        <!-- Filmes em Cartaz -->

        <!-- Bomboniere -->
        <section class="bomboniere">
            <div class="container">
                <div class="row">
                    <h3 class="product_title">Bomboniere</h3>
                    <span class="product_subtitle">Todos os dias um combo com preço especial para você!</span>
                    <div class="col-12">
                        <h5 class="product_title__showcase">Pipocas</h5>
                        <ul class="product_list">
                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 1]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>
                            
                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 2]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 3]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 4]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 5]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>

                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h5 class="product_title__showcase">Bebidas</h5>
                        <ul class="product_list">
                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 1]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>
                            
                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 2]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 3]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 4]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 5]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>

                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h5 class="product_title__showcase">Doces</h5>
                        <ul class="product_list">
                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 1]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>
                            
                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 2]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 3]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 4]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>
                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                            <li class="product_item">
                                <div class="product_image__wrapper">
                                    <img src="../src/imagens/produto.png" alt="">
                                </div>
                                <div class="product_infos">
                                    <h4 class="product_name">[Nome Combo 5]</h4>
                                    <span class="product_description">Pipoca grande + Refri 2L</span>
                                    <span class="product_price">R$ <span class="product_price__buy">00,00</span></span>

                                    <span class="product_button">
                                        <a href="" class="product_button__link">Adicionar</a>
                                    </span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim Bomboniere -->

        <!-- Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer_wrapper">
                        <span class="footer_text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, placeat dolorum rerum expedita error ex vero ipsa perferendis repellat unde consequuntur cupiditate qui omnis maiores aut consectetur beatae in magnam.
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Fim Footer -->
    </main>
</body>

</html>